body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: rgb(0 78 81);
}

/* .main {
  background-color: black;
} */

/* добавим отступы у нава */
nav {
  padding: 0 1rem;
}
/* прижимаем футер к низу путем вычета из минимальной высоты маина суммы шапки и футера  100% - (64 + 70)*/
.content {
  min-height: calc(100vh - 134px);
}
.goods {
  display: grid;
  /* повторение колонок, в зависимости от ширины повторение будет меняться */
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  /* растояние между элементами */
  gap: 1.5rem;
}

.card {
  display: flex;
  flex-direction: column;
}
/* дочернему элементу чтобы не прыгал установим гроу */
.card-content {
  flex-grow: 1;
}

/* стили корзины для моб */
.cart {
  /* фиксируем позицию, чтобы все время была на виду */
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  cursor: pointer;
  z-index: 5;
  padding: 1rem;
}
/* для стилей на ПК используем медиа */
/* начиная с ширины 767px будем менять значени .cart*/
@media (min-width: 767px) {
  .cart {
    top: 7rem;
    bottom: unset;
    /* остальные наследуются */
  }
}



.collection-item {
  color: #000000;
}

.shadow {
  box-shadow: 3px 3px 8px 1px #5ae6ff;
}
.shadow-2 {
  box-shadow: 3px 3px 8px 1px #313356;
}
.shadow-3 {
  box-shadow: 0px 0px 100px 50px #00646d;
}

.close-icons {
  cursor: pointer;
  color: #00646d;
}

.bascet-close {
  cursor: pointer;
  position: absolute;
  top: 0.5rem;
  right: 1.2rem;
  color: white;
}

.count-icons {
  cursor: pointer;
  color: #a1009f;
  vertical-align: middle;
}

/* фиксируем позицию и растягиваем на все окно и прячем по умолчанию*/
/* .myModal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  background-color: rgb(0, 0, 0, 0.5);
  z-index: 6;
} */

.basket-list {
  
  /* отображение по центру */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  background-color: rgb(255, 255, 255);

  /* зададим ширину */
  width: 50rem;
  /* если маленькое устройство то ширина не более 95% */
  max-width: 95%;

  /* тень */
  /* box-shadow: inset -1px 3px 8px 5px #949494, 4px 10px 12px 0px #4b535b, 5px 5px 15px 5px rgba(0, 0, 0, 0); */

  /* анимация */
  animation: show 500ms ease-in-out;
}

/* добавим анимацию корзине */
@keyframes show {
  /*из состояния */
  from {
    top: 70%;
    opacity: 0;
  }

  to {
    top: 50%;
    opacity: 1;

  }
  
}